body {
	margin: 0;
	padding: 0;
	background: #e6ff61;
	font-family: arial;
}
.profile {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 300px;
	height: 450px;
	background: #fff;
	box-sizing: border-box;
	border-radius: 10px;
	overflow: hidden;
	box-shadow: 0 20px 20px rgba(0, 0, 0, .3);
}
.profile img {
	width: 100%;
}
.profile .view {
	position: absolute;
	bottom: 20px;
	left: 50%;
	transform: translateX(-50%);
	margin: 0;
	padding: 5px 10px;
	background: #fff;
	color: #262626;
	border-radius: 15px;
	text-transform: uppercase;
	text-decoration: none;
	font-size: 12px;
	font-weight: bold;
}
.details {
	height: 50%;
	width: 100%;
	background: #fff;
	position: absolute;
	bottom: 30px;
	text-align: center;
	padding: 20px;
	box-sizing: border-box;
	transition: .5s;
	transform-origin: bottom;
	transform: perspective(500px) scale(0);
	opacity: 0.2;
}
.details.active {
	transform: perspective(500px) scale(1);
	bottom: 0;
	transform: ;
	opacity: 1;
}
.details h2 {
	margin: 0;
	padding: 0;
	color: #607d8b;
	font-size: 18px;
	text-transform: uppercase;
}
.details h2 span {
	font-size: 14px;
	color: #ccc;
}
.details p {
	margin: 0;
	padding: 10px 0 0;
	font-size: 14px;
	color: #aaa;
}
h3 {
	background: #00bcd4;
	color: #fff;
	padding: 8px 50px;
	border-radius: 25px;
	display: -webkit-inline-box;
}
.details ul {
	margin: 0;
	padding: 0;
	display: flex;
}
.details ul li {
	list-style: none;
	font-size: 20px;
	width: 33.3%;
}
.details ul li:nth-child(1) .fa {
	color: #3b5998;
}
.details ul li:nth-child(2) .fa {
	color: #00aced;
}
.details ul li:nth-child(3) .fa {
	color: #dd4b39;
}
.close {
	font-size: 20px;
	position: absolute;
	top: 5px;
	right: 5px;
	color: #f00;
	cursor: pointer;
}






















