body {
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background: #262626;
}
.container {
	width: 1200px;
	min-height: 600px;
	display: flex;
	flex-wrap: wrap;
}
.card  {
	position: relative;
	width: calc(50% - 20px);
	min-height: 300px;
	background: #fff;
	margin: 10px;
	box-sizing: border-box;
}
.card .imgBx {
	position: absolute;
	width: 50%;
	height: 100%;
}
.card .imgBx img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.card .details {
	position: absolute;
	right: 0;
	width: 50%;
	height: 100%;
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	align-items: center;
}
.card .details .content {
	padding: 20px;
	box-sizing: border-box;
}
.card .details .content h2 {
	margin: 0;
	padding: 0;
	font-size: 24px;
	line-height: 0.85em;
	font-weight: 600;
}
.card .details .content h2 span {
	font-size: 14px;
	color: #777;
}
.card .details .content ul {
	margin: 0;
	padding: 0;
	display: flex;
}
.card .details .content ul li {
	list-style: none;
	margin-left: 2px;
}
.card .details .content ul li a {
	color: #fff;
	border: none;
}
.card .details .content ul li:nth-child(1) a {
	background: #3b5995;
}
.card .details .content ul li:nth-child(2) a {
	background: #55acee;
}
.card .details .content ul li:nth-child(3) a {
	background: #b31217;
}
.card .details .content ul li:nth-child(4) a {
	background: #0077b5;
}
.card .details .content a {
	display: inline-block;
	text-decoration: none;
	padding: 5px 10px;
	margin-top: 10px;
	border: 2px solid #262626;
	color: #262626;
	font-weight: 500;
}
.card .details .content a:hover {
	color: #fff;
	background: #262626;
}
@media (max-width: 1200px) {
	.container {
		width: 100%;
	}
}
@media (max-width: 991px) {
	.card {
		width: calc(70% - 20px);
		margin: 10px auto;
	}
}
@media (max-width: 768px) {
	.card {
		width: calc(70% - 20px);
		margin: 10px auto;
	}
	.card .imgBx {
		position: relative;
		width: 100%;
		height: 200px;
	}
	.card .details {
		position: relative;
		width: 100%;
		height: 200px;
	}
}
@media (max-width: 480px) {
	.card {
		width: calc(100% - 40px);
		margin: 10px auto;
	}
}

































