body
{
	margin: 0;
	padding: 0;
	background: url(https://images.pexels.com/photos/933054/pexels-photo-933054.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260);
	background-size: cover;
	front-family: sans-serif;
}
h1
{
	margin: 0 10px;
	padding: 0;
	color: #fff;
	font-size: 24px;
}
.box
{
	position: absolute;
	top: 40%;
	left:50%;
	width: 500px;
	transform: translate(-50%, -50%);
}
input
{
	position: relative;
	display: inline-block;
	font-size: 20px;
	box-sizing: border-box;
	transition: .5s;
}
input[type="text"]
{
	background: #fff;
	width: 340px;
	height: 50px;
	border: none;
	outline: none;
	padding: 0 25px;
	border-radius: 25px 0 0 25px;
}
input[type="submit"]
{
	position: relative;
	left: -5px;
	border-radius: 0 25px 25px 0;
	width: 150px;
	height: 50px;
	border: none;
	outline: none;
	cursor: pointer;
	background: #ffc107;
	color: #fff;
}
input[type="submit"]:hover
{
	background-color: #ff5722;
}




